In [1]:
# import statements
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import sklearn
# import train_test_split module from sklearn
from sklearn.model_selection import train_test_split
# import KNN classifier model from sklearn
from sklearn.neighbors import KNeighborsClassifier
# import random forest classifier model from sklearn
from sklearn.naive_bayes import GaussianNB
# import metrics module from sklearn
from sklearn import metrics
%matplotlib inline

In [13]:
df = pd.read_csv('Social_Network_Ads.csv')

In [14]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
gender = pd.get_dummies(df['Gender'])
df = pd.concat([df, gender], axis=1)
df.drop('Gender', axis=1, inplace=True)
df.head()

    User ID  Age  EstimatedSalary  Purchased  Female  Male
0  15624510   19            19000          0       0     1
1  15810944   35            20000          0       0     1
2  15668575   26            43000          0       1     0
3  15603246   27            57000          0       1     0
4  15804002   19            76000          0       0     1

In [16]:
X = df.drop(['User ID', 'Purchased'], axis=1)
y = df['Purchased']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)

In [43]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [44]:
knn_pred = knn.predict(X_test)

In [45]:
print(metrics.classification_report(y_test, knn_pred))
print(metrics.accuracy_score(y_test, knn_pred))

              precision    recall  f1-score   support

           0       0.84      0.91      0.87        80
           1       0.79      0.65      0.71        40

   micro avg       0.82      0.82      0.82       120
   macro avg       0.81      0.78      0.79       120
weighted avg       0.82      0.82      0.82       120

0.825

In [24]:
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [26]:
nb_pred = nb.predict(X_test)

In [27]:
print(metrics.classification_report(y_test, nb_pred))
print(metrics.accuracy_score(y_test, nb_pred))

              precision    recall  f1-score   support

           0       0.95      0.93      0.94        80
           1       0.86      0.90      0.88        40

   micro avg       0.92      0.92      0.92       120
   macro avg       0.90      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120

0.9166666666666666